<div id="bgDiv">
<!-- <div class="light-font">
  <mdb-breadcrumb customClass="default-color">
    <mdb-breadcrumb-item class="active">Product 1</mdb-breadcrumb-item>
  </mdb-breadcrumb>

  <mdb-breadcrumb customClass="primary-color white-text">
    <mdb-breadcrumb-item>Product 2</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Sub Product 2</mdb-breadcrumb-item>
  </mdb-breadcrumb>

  <mdb-breadcrumb customClass="secondary-color white-text">
    <mdb-breadcrumb-item>Product 3</mdb-breadcrumb-item>
    <mdb-breadcrumb-item>Sub Product 3</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Data</mdb-breadcrumb-item>
  </mdb-breadcrumb>
</div> -->

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Product 1</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Product 2</a></li>
    <li class="breadcrumb-item active" aria-current="page">Custormer</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Product 3</a></li>
    <li class="breadcrumb-item"><a href="#">Customer</a></li>
    <li class="breadcrumb-item active" aria-current="page">Package</li>
  </ol>
</nav>
</div>
