 <div id="bgDiv">
   <div style= "text-align: center;"><h2>French to English Common Phrases</h2></div>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. grea" #input>
</mat-form-field>
<div id="tbdata" class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort>


   <ng-container matColumnDef="id">
    <th id="tbhead" mat-header-cell *matHeaderCellDef> Sl. </th>
    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
  </ng-container>

  <ng-container matColumnDef="french">
    <th id="tbhead" mat-header-cell *matHeaderCellDef> French </th>
    <td mat-cell *matCellDef="let element"> {{element.french}} </td>
  </ng-container>

  <ng-container matColumnDef="english">
    <th id="tbhead" mat-header-cell *matHeaderCellDef> English </th>
    <td mat-cell *matCellDef="let element"> {{element.english}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter / Loading.... "{{input.value}}"</td>
  </tr>
</table>
</div>
<mat-paginator [length]="resultLength" [pageSizeOptions]="[50, 100]" [pageSize]="50" showFirstLastButtons></mat-paginator>
</div>
<!--

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8" id="tbdata">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
    </ng-container>



    <ng-container matColumnDef="french">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> French </th>
      <td mat-cell *matCellDef="let row"> {{row.french}} </td>
    </ng-container>

    <ng-container matColumnDef="english">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> English </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.english}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator  [length]="resultLength" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div> -->
