table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

#bgDiv {

  margin: auto;
  width: 80%;
  padding: 0 0 0 0;
}

#tbdata{
Position: relative;
max-height: 600px;
overflow: auto;
}

#tbhead{

  background-color: #ccd4d4;
  color: black;
}
